<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<!--Title Bar -->
<div id="title-bar">
  <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
</div>

<!--Content-->
<div id="content-area">
  <div id="categories">
    <h2>Categories</h2>
    <div class="list-categories">
      {% for c in categories %}
      <a href="{{url_for('category', category_name=c.name)}}">
        <h3>{{c.name}}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
  <div id="items">
    <!--Create New Item Form-->
    <!--Name of the item-->
    <!--Category selected from dropdown-->
    <!--If "New Category" selected, allow user to create new category-->
    <!--Description-->
    <!--image URL-->
    <!--Save date added-->
  </div>
</div>

</body>
</html>
