<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<!--Title Bar -->
<div id="title-bar">
  <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
</div>

<!--Content-->
<div id="content-area">
  <div id="categories">
    <h2>Categories</h2>
    <div class="list-categories">
      {% for c in categories %}
      <a href="{{url_for('category', category_name=c.name)}}">
        <h3>{{c.name}}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
  <div id="items">
    <form method="POST" enctype="multipart/form-data"
          action="{{url_for('new_item')}}">
      <p>Name of item:</p>
      <input name="newItemName" type="text" size="30">
      <p>Category:</p>
      <!--Category selected from dropdown-->
      <select name="categoryName">
        {% for c in categories %}
          <option value="{{c.name}}">{{c.name}}</option>
        {% endfor %}
      </select>
      <!--If "New Category" selected, allow user to create new category-->
      <p>Description:</p>
      <input name="newItemDesc" type="text" size="140">
      <p>Image URL:</p>
      <input name="newItemURL" type="text" placeholder="URL">
      <input type='submit' value='Create'>
      <!--Save date added-->
    </form>


  </div>
</div>

</body>
</html>
