<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<!--Title Bar -->
<div id="title-bar">
  <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
</div>

<!--Content-->
<div id="content-area">
  <div id="categories">
    <h2>Categories</h2>
    <div class="list-categories">
      {% for c in categories %}
      <a href="{{url_for('category', category_name=c.name)}}">
        <h3>{{c.name}}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
  <div id="items">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h2>
      {{item.name}} for
      <a href="{{url_for('category', category_name=category)}}">{{category}}</a>
    </h2>
    <div class="item-description">
      {{item.description}}
    </div>
  </div>
</div>

</body>
</html>
