<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<!--Title Bar -->
<div id="title-bar">
  <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
</div>

<!--Content-->
<div id="content-area">
  <div id="categories">
    <h2>Categories</h2>
    <div class="list-categories">
      {% for c in categories %}
      <a href="{{url_for('category', category_name=c.name)}}">
        <h3>{{c.name}}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
  <div id="items">
    <form method="POST" enctype="multipart/form-data"
          action="{{url_for('edit_item', category_name=category,
                            item_name=item.name)}}">
      <p>Name of item:</p>
      <input name="itemName" type="text" size="30" value="{{item.name}}">
      <p>Category:</p>
      <!--Category selected from dropdown-->
      <select name="categoryName">
        {% for c in categories %}
          <option value="{{c.name}}"
          {% if c.id == item.category_id %}
            selected
          {% endif %}
          >{{c.name}}</option>
        {% endfor %}
      </select>
      <!--If "New Category" selected, allow user to create new category-->
      <p>Description:</p>
      <input name="itemDesc" type="text" size="140" value="{{item.description}}">
      <p>Image URL:</p>
      <input name="itemURL" type="text" value="{{item.image}}">
      <input type='submit' value='Edit item'>
    </form>
    <!-- Return to item's page if user doesn't edit item -->
    <a href="{{url_for('item', category_name=category, item_name=item)}}">
      I've changed my mind! Don't edit this item!
    </a>
  </div>
</div>

</body>
</html>
