<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<!--Title Bar -->
<div id="title-bar">
  <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
</div>

<!--Content-->
<div id="content-area">
  <div id="categories">
    <h2>Categories</h2>
    <div class="list-categories">
      {% for c in categories %}
      <a href="{{url_for('category', category_name=c.name)}}">
        <h3>{{c.name}}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
  <div id="items">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" enctype="multipart/form-data"
          action="{{url_for('new_item')}}">
      <p>Name of item:</p>
      <input name="newItemName" type="text" size="30">
      <p>Category:</p>
      <!--Category selected from dropdown-->
      <select name="categoryName" onchange="newCategory(this);">
        {% for c in categories %}
          <option value="{{c.name}}">{{c.name}}</option>
        {% endfor %}
        <option value="newCategory">New Category</option>
      </select>
      <!--If "New Category" selected, allow user to create new category-->
      <!--Script to create a new category when you select "New Category" in dropdown-->
      <script src="{{url_for('static', filename='newCategory.js')}}"></script>
      <div id="ifNewCategory" style="display: none;">
        <label for="newCat">Enter your new category name for this item:</label>
        <input name="newCat" type="text" size="30">
      </div>
      <p>Description:</p>
      <input name="newItemDesc" type="text" size="140">
      <p>Image URL:</p>
      <input name="newItemURL" type="text" placeholder="URL">
      <input type='submit' value='Create'>
      <!--Save date added-->
    </form>


  </div>
</div>

</body>
</html>
